# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
.venv/
venv/
.env

# VSCode
.vscode/

# Data and models
data/
model/*.joblib

# Node
node_modules/

# Build
frontend/dist/

# OS
.DS_Store
Thumbs.db
